# Extension build and packaging variables
EXTENSION_PUBLIC_KEY=your-chrome-extension-public-key # access from Chrome Web Store -> manage extensions -> extension details -> public key
EXTENSION_GOOGLE_CLIENT_ID=your-chrome-extension-client-id.apps.googleusercontent.com # access from Google Auth Platform -> clients
EXTENSION_DEV_API_BASE_URL=http://localhost:8000
EXTENSION_PRODUCTION_API_BASE_URL=https://api.yousum.app
